
// 22/05/13 修改默认的 `` 中的颜色，参考掘金
// 22/11/01 修改默认的 `` 中的颜色，参考湾区日报
code {
    margin: 0;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    background: rgba(255, 204, 204, 0.12);
    font-size: 0.85em;
    color: #dd4814;
    overflow-wrap: break-word;
}